<div>
  <strong class="text-gray-800"><%= comment.user.username %>: </strong><%= comment.body %>
</div>
<% if comment.user == current_user %>
  <div class="mt-2">
    <small>
      <%= link_to "Delete", [comment.blog_post, comment],
                  data: { turbo_method: :delete,
                          turbo_confirm: "Are you sure?" },
                  class: 'text-red-500 hover:underline' %>
    </small>
  </div>
<% end %>



