<% unless comment.archived? %>
  <div class="bg-gray-100 rounded-md p-4 mb-4">
    <p class="text-gray-800"><strong><%= comment.commenter %></strong> <%= comment.body %></p>
    <div class="mt-2">
      <%= link_to "Delete Comment", [comment.blog_post, comment], method: :delete, data: { turbo_confirm: "Are you sure?" }, class: 'text-red-500 hover:underline' %>
    </div>
  </div>
<% end %>
