<h3 class="text-xl font-bold mb-4">Add a comment:</h3>
<div class="py-2">
  <%= form_with model: [@blog_post, @blog_post.comments.build], class: 'bg-white shadow-md rounded-md p-4' do |form| %>
    <p class="mb-4">
      <%= form.label current_user.username, class: 'block text-gray-700 font-semibold mb-2' %><br>
      <%= form.text_area :body, class: 'w-full p-2 border rounded-md' %>
    </p>
    <p>
      <%= form.submit class: 'bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600' %>
    </p>
  <% end %>
</div>


