<div class="bg-gray-100 p-8">
  <h1 class="text-4xl font-extrabold text-dark-700 mb-6">Blog Posts</h1>
  <p class="text-gray-600 mb-4">Our blog has <%= BlogPost.public_count %> articles and counting!</p>

  <ul class="mt-6">
    <% @blog_posts.each do |blog_post| %>
      <% if blog_post.public? or (user_signed_in? and blog_post.user == current_user and blog_post.private? )  %>
        <li class="bg-white rounded-lg shadow-md p-6 mb-4">
          <h2 class="text-2xl font-bold text-dark-700 mb-2"><%= link_to blog_post.title, blog_post, class: 'hover:underline' %></h2>
          <p class="text-gray-700"><%= blog_post.body.slice(0...30) + '....' %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
